/*-----------------------------------------------------------------------------
	Bi Link Field
-----------------------------------------------------------------------------*/
	
	.field-bilink > h3 {
		font-weight: normal;
		margin-bottom: 0;
	}
	.field-bilink > ol {
		background: #999988;
		border: 1px solid #999988;
		margin: 0 0 1.75em 0;
		list-style: none;
		overflow: hidden;
	}
	.invalid .field-bilink > ol {
		border-color: #aa2211;
	}
	.field-bilink > ol > .instance {
		background: #ddddcc;
		border-bottom: 1px solid #eeeedd;
		overflow: hidden;
		margin: 0 0 0 0;
		padding: 0 1.75em;
		position: relative;
		z-index: 2001;
	}
	.field-bilink > ol > .instance > .header {
		background: #ccccbb;
		border-bottom: 1px solid #eeeedd;
		color: #666655;
		cursor: pointer;
		margin: 0 -1.75em 1em -1.75em;
		padding: 0.5em 1.75em;
		position: relative;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	}
	.field-bilink > ol > .instance > .header .destructor {
		font-weight: normal;
		color: #333322;
		margin: 0 1.75em;
		padding: 0.5em 0;
		position: absolute;
		right: 0;
		text-decoration: none;
		top: 0;
	}
	.field-bilink > ol > .instance > .header .destructor:hover {
		color: #555544;
	}
	.field-bilink > ol > .instance > .header .destructor.disabled {
		color: #333322;
		cursor: default;
		opacity: 0.4;
	}
	
	.field-bilink > ol.ordering > .instance {
		opacity: 0.7;
	}
	.field-bilink > ol > .instance.ordering {
		border-top: 1px solid #eeeedd;
		-moz-box-shadow: 0 0 16px #888877;
		-webkit-box-shadow: 0 0 16px #888877;
		margin: -1px 0 0 0;
		opacity: 1;
		z-index: 2002;
	}
	.field-bilink > ol > .instance.ordering,
	.field-bilink > ol > .instance.ordering * {
		cursor: move;
	}
	.field-bilink > ol > .instance.ordering > .header {
		
	}
	
	.field-bilink > ol > .controls {
		background: #aaaa99;
		border-top: 1px solid #aaaa99;
		cursor: default;
		padding: 0 1.75em;
		position: relative;
		text-align: right;
		z-index: 2003;
	}
	.field-bilink > ol > .controls > * {
		display: inline-block;
		margin: 0 0 0 0.75em;
	}
	.field-bilink > ol > .controls > select {
		min-width: 15em;
		width: auto;
	}
	.field-bilink > ol > .controls > .constructor {
		color: #eeeedd;
		cursor: pointer;
		padding: 0.5em 0;
		text-decoration: none;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	}
	.field-bilink > ol > .controls > .constructor:hover {
		color: #ffffee;
	}
	.field-bilink > ol > .controls > .constructor.disabled {
		color: #eeeedd;
		cursor: default;
		opacity: 0.4;
	}
	
/*---------------------------------------------------------------------------*/